@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Home
2. Shop
	2.1 Shop Products
	2.2 Shop Page Navigation
3. Shop Sidebar
4. Recently Viewed


******************************/


.cat_menu_container ul
{
	visibility: hidden;
	opacity: 0;
}

/*********************************
1. Home
*********************************/

.home
{
	width: 100%;
	height: 260px;
	background: transparent;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #cde4f1;
	background: linear-gradient(#FFFFFF, #cde4f1);
	opacity: 0.75;
}
.home_content
{
	width: 100%;
	height: 100%;
}

/*********************************
2. Shop
*********************************/




.shiping-methods {
  margin-bottom: 30px;
}

/*-- shopping cart table --*/

.shopping-cart-table>tbody>tr>td, .shopping-cart-table>tbody>tr>th, .shopping-cart-table>tfoot>tr>td, .shopping-cart-table>tfoot>tr>th {
  padding: 15px 0px;
  vertical-align: middle;
  border-top: 1px solid #DADADA;
}

.shopping-cart-table>thead>tr>td, .shopping-cart-table>thead>tr>th {
  padding: 15px 0px;
  vertical-align: middle;
  border-top: 0px solid #DADADA;
}

.shopping-cart-table>thead>tr>th {
  color: #30323A;
  text-transform: uppercase;
  border-bottom: 1px solid #DADADA;
}

.shopping-cart-table>tbody>tr:last-child>td {
  border-bottom: 1px solid #DADADA;
}

.shopping-cart-table>tfoot>tr>td, .shopping-cart-table>tfoot>tr>th {
  color: #30323A;
  border-top: 0px;
}

.shopping-cart-table>tfoot>tr>td:not(.empty), .shopping-cart-table>tfoot>tr>th:not(.empty) {
  padding: 15px;
  background-color: #F6F7F8;
  border: 1px solid #DADADA;
}

.shopping-cart-table>tbody>tr>.details>a {
  font-size: 18px;
  font-weight: 500;
    color: #000;
}

.shopping-cart-table>tbody>tr>.thumb>img {
  width: 60px;
}

.shopping-cart-table>tbody>tr>.qty .input {
  width: 90px;
}

.shopping-cart-table>tbody>tr>.price {
  font-size: 18px;
}

.shopping-cart-table>tbody>tr>.total {
  font-size: 18px;
}

.shopping-cart-table>tfoot>tr>.sub-total {
  font-size: 18px;
}

.shopping-cart-table>tfoot>tr>.total {
  font-size: 24px;
  color: #F8694A;
}

.icon-btn.main-btn, .icon-btn.primary-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px;
    border: none;
}

.main-btn {
    color: #30323A;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.qty .input {
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.main-btn:hover, .main-btn:focus {
    color: #F8694A;
    -webkit-box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
    box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
}

.primary-btn {
    color: #FFF;
    background-color: #4caf50;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    cursor: pointer;
    letter-spacing: 1px;
}

.primary-btn:hover, .primary-btn:focus {
    color: #FFF;
    background-color: #30323A;
}